@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');


body {
    background: #121212; /* Dark Background */
    color: white;
    font-family: 'Arial', sans-serif;
}
